<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.webp" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ad7474103a.js" crossorigin="anonymous"></script>
  <!-- Load Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/main.css">
  <title>Banger Music</title>
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <div class="logo-container">
          <img class="header-logo" src="images/banger-logo2.webp" alt="Site Title">
          <h6 class="site-description">Quencing your thirst for Banger lyrics since 2020</h6>
        </div>
        <div class="nav-container">
          <ul class="nav-bar">
            <li><a class="nav-link" href="#song-search">Song Search</a></li>
            <li><a class="nav-link" href="#top-ten">Top Ten</a></li> 
          </ul>
        </div>
        </div>
      
    </nav>
  </header>
  <main>
    <div class=" container main-title">
      <h1>Welcome to <span>Banger Music</span></h1>
      <h3>Check out the current US top ten and discover music lyrics. </h3>
      <blockquote>
        <h4 class="banger">Banger</h4>
        <p class="noun">Noun  /ˈbæŋə(r)/</p>
        <h5 class="definition">Definition: </h5>
        <p class="definition-text">1. If a song is extremly tight or just unbelivably awesome. It is a banger.</p>
        <p class="definition-text">2. A super awesome song. The kind you listen to for three hours on repeat on Spotify.</p>
        <span class="urban">-Urban Dictionary</span>  
      </blockquote>
    </div>
    <div class="border"></div>
    
      
      <div id="song-search">
        <h2>Song Search</h2>
        <h3>Search for the name of a song or artist to get the top ten results sorted by popularity</h3>
        <div id="find-song">
          <div id="modal-2" >
            <div class="modal-background" v-if="modal2">
              <div class="modal-content">
                <h2>Lyrics:</h2>
                <p>{{songLyrics.lyrics_body}}</p>
                <button @click="modalAction2()" class="button cut-corner">close</button>
              </div>
            </div>
          </div>
          <div class="search-container">
            <form class="search-form" @submit.prevent="handleSubmit">
              <input class="search-input" v-model="songSearch" type="text" placeholder="Search for song title or artist name" id="search">
              <button type="submit" class="submit-button button cut-corner">Search</button>
            </form>
          </div>
          <div class="card-column" >
            <div class="mt-3 ml-3 mr-3">
              
              <div class="card" style="width: 18rem;" v-for="findSong in findSongs">
                <div class="card-body">
                  <h3 class="card-title">{{findSong.track.track_name}}</h3>
                  <h4 class="card-subtitle">By: {{findSong.track.artist_name}}</h4>
                  <h4 class="card-subtitle">Album: {{findSong.track.album_name}}</h4>
                  <button @click="modalAction2(findSong.track.track_id)" class="button cut-corner">See Lyrics</button>
                </div><!--card-body-->
            </div> <!--card-->
            </div><!--mt ml mr-->
          </div><!--card-column-->
        </div><!--find-song-->
      </div><!--song-search-->
      <div class="border"></div>
      <div class="card-title">
        <h2>Top Ten Songs</h2>
      </div>
      <div class="top-ten-bg">
        <div class="card-column" >
          <div id="top-ten"  class="mt-3 ml-3 mr-3">
            <div id="modal-1">
              <div class="modal-background" v-if="modal">
                <div class="modal-content">
                  <h2>Lyrics: </h2>
                  <p>{{topSongsLyrics.lyrics_body}}</p>
                  <button @click="modalAction()" class="button cut-corner">close</button>
                </div>
              </div>
            </div>
            
            <div class="card" v-for="topSong in topSongs">
              <div class="card-body">
                <h3 class="card-title">{{topSong.track.track_name}}</h3>
                <h4 class="card-subtitle">By: {{topSong.track.artist_name}}</h4>
                <h4 class="card-subtitle">Album: {{topSong.track.album_name}}</h4>
                <button @click="modalAction(topSong.track.track_id)" class="button cut-corner">View Lyrics</button>
                
              </div><!--card-body-->
          </div> <!--card-->
          </div><!--top-ten-->
        </div><!--card-column-->
      </div>
        <div class="border"></div>
  </main>
  
  <footer class="site-footer">
    <div class="container">
      <img src="images/banger-logo2.webp" alt="Site Name">
      
      <address>
        <p>Fictional Road 44, Helsingborg, Sweden <br><a href="tel:+46012345678">+46 012 34 56 78</a> <br> <a href="mailto:info@bangermusic-fakeemail.com">info@bangermusic-fakeemail.com</a></p> 
      </address> 
      <h4>Want to get updates about new realses? Sign up for our Newsletter!</h4>
        
      <form action="#" class="newsletter-form">
        <input class="input" type="email" placeholder="Enter your email to join newsletter...">
        <button type="submit" class="submit-button button cut-corner">Subscribe</button>
      </form> <!-- .newsletter-form -->
      
      <div class="social-links">
        <a href="#"><i class="fa fa-facebook-square social-icon"></i></a>
        <a href="#"><i class="fa fa-twitter social-icon"></i></a>
        <a href="#"><i class="fa fa-google-plus social-icon"></i></a>
        <a href="#"><i class="fab fa-instagram social-icon"></i></a>
      </div> <!-- .social-links -->
      
      <p class="copy">Copyright 2020 Banger Music. Created by Michelle Andersson.</p>
    </div>
        </footer> <!-- .site-footer -->

        
  <!-- Load Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="src/main.min.js"></script>
</body>
</html>