$accent-color: #fd5927;  

body {
    background-color: #141414;
    color: #848484;
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
}

/*************************************************
HEADER
*************************************************/

header {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 20px 20px;
    nav {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; 
        .container {
            border-bottom: 1px solid rgba(255,255,255,.15); 
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        } 
        ul {
            list-style: none;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
        }  
        .nav-link {
            color: #848484;
            &:hover {
                color: $accent-color;
            }
        }
        .site-description {
            text-decoration: none;
            color: #848484;
            margin-left: 10px;
            font-size: 12px;
            padding-bottom: 10px;
        }   
    }
}


/***************************************
TOP TEN 
***************************************/

main {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px;
    .main-title {
        
        h1 {
            text-align: center;
            span {
                color: $accent-color;
                font-family: 'Sonsie One', cursive;
            }
        }
        h3 {
            text-align: center;
            font-size: 25px;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255,255,255,.15); 
        }
    
    }
    
    .card {
        background-color: rgba(255,255,255,.15);
        margin-top: 10px;
        &-title {
            font-weight: bold;
        }
        &-subtitle {
            font-size: 15px;
            margin-bottom: 20px;
        }
    }
}

/***************************************
MODAL
***************************************/

.modal-background {
    z-index: 99;
    width: 100%;
    background-color: #1414147e;
    position: relative;
}
.modal-content {
    z-index: 99;
    max-width: 1500px;
    width: 100%;
    background-color: #141414f1;
    position: absolute;
}

/***************************************
SEARCH FOR SONG
***************************************/ 
#song-search {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px;
    
}

#find-song {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: 75px;
    margin: 20px auto;
}
.search-container {
    display: inline-flex;
    max-width: 1500px;
    width: 100%;
    margin: 20px 20px;
    .search-input{
        max-width: 1500px;
        width: 70%;
        padding: 25px;
        height: 75px;
        border: none;
        float: left;
        background: #353535;
        color: white;
        outline: none;
        transition: .3s ease;
    
        &:hover,&:focus{
            background: lighten(#353535,10%)
        }
    }
}

/***************************************
FOOTER
***************************************/


.site-footer {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #191919;
    margin: 20px 20px 0;
    .container {
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    }
    address {
        text-align: center;
        a {
            color: #848484;
        }
    }
}
.newsletter-form{
    margin: 20px 20px;
    max-width: 1500px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    input[type="submit"]{
        width: 20%;
        padding: 25px;
    }
}
.input{
    max-width: 1500px;
    width: 70%;
    height: 75px;
    padding: 25px;
    border: none;
    float: left;
    background: #353535;
    color: white;
    outline: none;
    transition: .3s ease;

    &:hover,&:focus{
        background: lighten(#353535,10%)
    }
}    

/*******************************************
BUTTON
*******************************************/

.button {
    display: inline-block;
	padding: 10px 30px;
	background-color: #fd5927;
	border: none;
	color: white;
	text-decoration: none;
	outline: none;
    transition: .3s ease;
    &:hover, &:focus {
        background-color: #fd592763;
    }
} 

.cut-corner{
    background: linear-gradient(0deg, $accent-color, $accent-color) top left,
                linear-gradient(0deg, $accent-color, $accent-color) top right,
                linear-gradient(315deg, transparent 10px, $accent-color 0) bottom right,
                linear-gradient(0deg, $accent-color, $accent-color) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat;
    
    &:hover{
        background: linear-gradient(0deg, lighten($accent-color,10%), lighten($accent-color,10%)) top left,
                    linear-gradient(0deg, lighten($accent-color,10%), lighten($accent-color,10%)) top right,
                    linear-gradient(315deg, transparent 10px, lighten($accent-color,10%) 0) bottom right,
                    linear-gradient(0deg, lighten($accent-color,10%), lighten($accent-color,10%)) bottom left;
        background-size: 55% 55%;
        background-repeat: no-repeat;
    }

    &:active{
        background: linear-gradient(0deg, darken($accent-color,15%), darken($accent-color,15%)) top left,
                    linear-gradient(0deg, darken($accent-color,15%), darken($accent-color,15%)) top right,
                    linear-gradient(315deg, transparent 10px, darken($accent-color,15%) 0) bottom right,
                    linear-gradient(0deg, darken($accent-color,15%), darken($accent-color,15%)) bottom left;
        background-size: 55% 55%;
        background-repeat: no-repeat;
    }
}

.submit-button {
    height: 75px;
}

/***********************************
SOCIAL MEDIA
**********************************/

.social-links{
    .social-icon {
        padding-left: 33%;
    }
    margin: 50px 0;
    a{
        display: inline-block;
        width: 45px;
        height: 45px;
        background: linear-gradient(0, #353535, #353535) top left,
                    linear-gradient(0, #353535, #353535) top right,
                    linear-gradient(315deg, transparent 5px, #353535 0) bottom right,
                    linear-gradient(0, #353535, #353535) bottom left;
        background-size: 55% 55%;
        background-repeat: no-repeat;
        color: white;
        margin: 0 5px;
        line-height: 45px;
        &:hover{
            background: linear-gradient(0, lighten(#353535,10%), lighten(#353535,10%)) top left,
                        linear-gradient(0, lighten(#353535,10%), lighten(#353535,10%)) top right,
                        linear-gradient(315deg, transparent 5px, lighten(#353535,10%) 0) bottom right,
                        linear-gradient(0, lighten(#353535,10%), lighten(#353535,10%)) bottom left;
            background-size: 55% 55%;
            background-repeat: no-repeat;
        }
    }
}

.copy{
    color: #434343;
    font-weight: 300;
}

.border {
    max-width: 1100px;
    width: 100%;
    border: none!important;
    height: 1px;
    margin: 20px;
    background-color:rgba(255,255,255,.15) ;
}




    