body {
    background-color: #141414;
    color: #848484;
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 20px 20px;
    .site-description {
        text-decoration: none;
        color: #848484;
        margin-left: 10px;
        font-size: 12px;
        padding-bottom: 10px;
    }
    .container {
        border-bottom: 1px solid rgba(255,255,255,.15); 
    }
}

    